@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap");
// BREAKPOINTS
$breakpoints: (
  "medium": 30.0625em,
  "large": 48.0625em,
  "xlarge": 80em
);
$breakpoints-down: (
  "large": 79.9375em,
  "medium": 48em,
  "small": 30em
);

@mixin breakpoint($size) {
  @media screen and (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}
@mixin breakpoint-down($size) {
  @media screen and (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-block-size: 100vh;
  scroll-behavior: smooth;

  @supports (scroll-snap-type: y mandatory) {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }

  @include breakpoint(medium) {
    font-size: 81.25%;
  }
  @include breakpoint(large) {
    font-size: 100%;
  }
  @include breakpoint(xlarge) {
    font-size: 118.75%;
  }

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --base-font-size: 1rem;
  --base-padding: 0.5em;
  --base-margin: 0.5em;
  --base-line-height: 150%;
  --base-border-radius: 20px;
  --base-gap: 10px;

  --font-wt-light: 300;
  --font-wt-regular: calc(var(--font-wt-light, 300) + 100);
  --font-wt-medium: calc(var(--font-wt-regular, 400) + 100);
  --font-wt-semi: calc(var(--font-wt-medium, 500) + 100);
  --font-wt-bold: calc(var(--font-wt-semi, 600) + 100);
  --font-wt-xbold: calc(var(--font-wt-bold, 700) + 100);

  --font-stack-space-grotesk: "Space Grotesk", sans-serif;
}

body {
  min-block-size: inherit;
  font: var(--font-wt-regular) var(--base-font-size) / var(--base-line-height)
    var(--font-stack-space-grotesk);
    background-color: #171616;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: var(--font-wt-bold);
  color: hwb(130 30% 50%);
  user-select: none;

  &:not(h5, h6) {
    line-height: 100%;
  }
}

a,
a:link {
  display: inline-block;
  text-decoration: none;
}

p {
  font-size: calc(var(--base-font-size) * 1.1);
  color: hwb(130 40% 30%);

  &::selection {
    // background-color: hwb(120 30% 20%);
    color: hwb(120 90% 0%);
  }
}

span {
  display: inline-block;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 ;
  // background-color: hsl(var(--h) 100% 90%);

  @supports (scroll-snap-align: start) {
    scroll-snap-align: start;
  }
}

@for $i from 1 through 4 {
  .container:nth-child(#{$i}) {
    --h: #{80 + $i * 30};
  }

  @if $i == 3 {
    .container:nth-child(#{$i}) {
      // background-image: url(https://images.unsplash.com/photo-1519802772250-a52a9af0eacb?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjUzMTExOTk&ixlib=rb-1.2.1&q=80);
      background-size: cover;
      position: relative;
      overflow-x: hidden;

      &.change-bg-image {
        // background-image: url(https://images.unsplash.com/photo-1519802772250-a52a9af0eacb?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjUzMTExOTk&ixlib=rb-1.2.1&q=80&w=400);
      }

      &::before,
      &::after {
        --distance: 70px;
        content: "";
        position: absolute;
        width: 7rem;
        height: 7rem;
        background-color: hwb(0 100% 0% / 0.4);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        border-radius: 50%;
        animation: var(--ball-animation) 10000ms ease infinite alternate;

        @include breakpoint-down(small) {
          animation-play-state: paused;
        }
      }

      &::before {
        --ball-animation: first-ball-animation;
        top: var(--distance);
        left: calc(var(--distance) / 2);
      }

      &::after {
        --ball-animation: last-ball-animation;
        bottom: var(--distance);
        right: calc(var(--distance) / 2);
      }

      article {
        z-index: 1;
        inline-size: min(500px, 80vw);
        background-color: hwb(0 100% 0% / 0.25);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        padding: var(--base-padding) calc(var(--base-padding) * 2);
        border-radius: calc(var(--base-border-radius) * 0.2);
        overflow: auto;
        resize: both;

        > h2 {
          margin-block-end: var(--base-margin);
          color: hwb(90 30% 5%);
          font-size: calc(var(--base-font-size) * 2);
        }

        > p {
          color: white;
        }
      }
    }
  }
}

.container:last-of-type p {
  align-self: flex-end;
}

// animation keyframes
#loader{
  width: 100%;
  height: 100vh;
  background-color: #000000;
  position: absolute;
  z-index: 999;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 9;
}
.nav_link__container{
  gap: 35px;
  list-style: none;
  margin: 0;
}
.custom_btn {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  padding: 0.75rem 1.5rem;
  transition: 0.5s;
}

.custom_btn:hover {
  letter-spacing: 0.25rem;
  background: var(--color);
  color: var(--color);
  box-shadow: 0 0 50px 10px var(--color);
}

.custom_btn::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #27282c;
}

.custom_btn span {
  position: relative;
  z-index: 1;
}

.custom_btn i {
  position: absolute;
  inset: 0;
  display: block;
}

.custom_btn i::before {
  content: "";
  position: absolute;
  top: -3.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--color);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}

.custom_btn:hover i::before {
  left: 20%;
  width: 20px;
}

.custom_btn i::after {
  content: "";
  position: absolute;
  bottom: -3.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--color);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}

.custom_btn:hover i::after {
  left: 80%;
  width: 20px;
}
.spline-watermark{
  display: none !important;
}
.container{
  max-width: 100% !important; 
}
.banner{
  height: 80vh;
}
.color-white{
  font-size: 86px;
  font-weight: bolder;
  stroke:2px #fff;
  color: transparent;
  -webkit-text-stroke: 4px #fff;
}
.box{
  position: absolute;
  width: 250px;
  height:300px;
  background-color: #171616;
  right: 0px;
  bottom: 0px;
}
